@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');

:root {
  --main: rgb(115, 228, 17);
  --darke: black;
  --success: green;
  --error: red;
}
* {
  box-sizing: border-box; 
  outline: 0;
}

body {
  font-family: 'Verdana';
  margin: 0;
  padding: 0;
  background: var(--main);
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 640px;
  margin: 50px auto;
  background:#fff;
  padding: 20px;
  border-radius: 10px;
}

form input, form label, form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

form input {
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
}

form input:focus {
  outline: 2px solid var(--main);
}

.button {
  
  background: var(--darke);
  color: white;
  font-size: 18px;
  font-weight: 700;
  font-family: 'Verdana';
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
  border-radius: 10px;
}

.result-success {
  border: none;
  background: var(--success);
  color: #FFF;
  font-weight: bold;
  padding: 10px 10px; 
  border-radius: 10px;
}

.result-error {
  border: none;
  background: var(--error);
  color: #FFF;
  font-weight: bold;
  padding: 10px 10px; 
  border-radius: 10px;
}

/*---------------------------*/

header{
  color: white;
  text-align: center;
  font-family:'Verdana';
  font-style: inherit;
  font-size: 22px;
}

.sectionum{
background: white;
border-radius: 10px;
padding: 15px;
width: 640px;
margin: auto;
box-shadow: 3px 3px 10px rgba(19, 18, 18, 0.404);
}

footer{
  color: white;
  text-align: center;
  font-style: italic;

}

.fotododia{
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 5%;   
  width: 450px;
  height: 270px;
}

.semana{
  font-weight: bold;
  text-align: center;
  font-size: 20px;
}

.hora{
  display:inline;
}

.data{
  display:inline;
}

.agradecimento{
font-family:'Verdana';
font-size: 10px;
font-weight: bold;
text-align: right;
}