* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nav {
    background-color: black;
    padding: 10px 0; /* Adicionando um espaçamento vertical */
    display: flex;
    justify-content: center; /* Centraliza os itens horizontalmente */
}

.nav ul {
    list-style: none;
    display: flex; /* Para alinhar os itens lado a lado */
    padding: 0;
}

.nav li {
    margin: 0 10px; /* Espaçamento entre os itens do menu */
}

.nav a {
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    display: block;
}

.nav a:hover {
    background-color: rgba(30, 103, 238, 0.733);
}
.container1{
    background: linear-gradient(black, red, black);
    align-items: center;
    width: 100vw;
    height: 100vh;   
    flex-direction: row;
    justify-content: center;
}
.linha1_coluna1{
    padding: 10px;
    background: linear-gradient(black, red, black);
    width: 190px;
    height: 200px;
    margin: auto;
    display: inline-block;
}
.linha1_coluna2{
    padding: 10px;
    background: linear-gradient(black, red, black);
    width: 190px;
    height: 200px;
    margin: auto;
    display: inline-block;
}

.linha1_coluna3{
    padding: 10px;
    background: linear-gradient(black, red, black);
    width: 190px;
    height: 200px;
    margin: auto;
    display: inline-block;
}
.linha1_coluna4{
    padding: 10px;
    background: linear-gradient(black, red, black);
    width: 190px;
    height: 200px;
    margin: auto;
    display: inline-block;
}
.linha1_coluna5{
    padding: 10px;
    background: linear-gradient(black, red, black);
    width: 190px;
    height: 200px;
    margin: auto;
    display: inline-block;
}
.linha1_coluna6{
    padding: 10px;
    background: linear-gradient(black, red, black);
    width: 190px;
    height: 200px;
    margin: auto;
    display: inline-block;
}
.linha1_coluna7{
    padding: 10px;
    background: linear-gradient(black, red, black);
    width: 190px;
    height: 200px;
    margin: auto;
    display: inline-block;
}
.linha2_coluna1{
    padding: 10px;
    background: linear-gradient(black, red, black);
    width: 190px;
    height: 200px;
    margin: auto;
    display: inline-block;
}
.linha2_coluna2{
    padding: 10px;
    background: linear-gradient(black, red, black);
    width: 190px;
    height: 200px;
    margin: auto;
    display: inline-block;
}
.linha2_coluna3{
    padding: 10px;
    background: linear-gradient(black, red, black);
    width: 190px;
    height: 200px;
    margin: auto;
    display: inline-block;
}
.linha2_coluna4{
    padding: 10px;
    background: linear-gradient(black, red, black);
    width: 190px;
    height: 200px;
    margin: auto;
    display: inline-block;
}
.linha2_coluna5{
    padding: 10px;
    background: linear-gradient(black, red, black);
    width: 190px;
    height: 200px;
    margin: auto;
    display: inline-block;
}
.linha2_coluna6{
    padding: 10px;
    background: linear-gradient(black, red, black);
    width: 190px;
    height: 200px;
    margin: auto;
    display: inline-block;
}
.linha2_coluna7{
    padding: 10px;
    background: linear-gradient(black, red, black);
    width: 190px;
    height: 200px;
    margin: auto;
    display: inline-block;
}
.linha3_coluna1{
    padding: 10px;
    background: linear-gradient(black, red, black);
    width: 190px;
    height: 200px;
    margin: auto;
    display: inline-block;
}
.linha3_coluna2{
    padding: 10px;
    background: linear-gradient(black, red, black);
    width: 190px;
    height: 200px;
    margin: auto;
    display: inline-block;
}
.linha3_coluna3{
    padding: 10px;
    background: linear-gradient(black, red, black);
    width: 190px;
    height: 200px;
    margin: auto;
    display: inline-block;
}
.linha3_coluna4{
    padding: 10px;
    background: linear-gradient(black, red, black);
    width: 190px;
    height: 200px;
    margin: auto;
    display: inline-block;
}
.linha3_coluna5{
    padding: 10px;
    background: linear-gradient(black, red, black);
    width: 190px;
    height: 200px;
    margin: auto;
    display: inline-block;
}
.linha3_coluna6{
    padding: 10px;
    background: linear-gradient(black, red, black);
    width: 190px;
    height: 200px;
    margin: auto;
    display: inline-block;
}
.linha3_coluna7{
    padding: 10px;
    background: linear-gradient(black, red, black);
    width: 190px;
    height: 200px;
    margin: auto;
    display: inline-block;
}
.linha4_coluna1{
    padding: 10px;
    background: linear-gradient(black, red, black);
    width: 190px;
    height: 200px;
    margin: auto;
    display: inline-block;
}
.linha4_coluna2{
    padding: 10px;
    background: linear-gradient(black, red, black);
    width: 190px;
    height: 200px;
    margin: auto;
    display: inline-block;
}
.linha4_coluna3{
    padding: 10px;
    background: linear-gradient(black, red, black);
    width: 190px;
    height: 200px;
    margin: auto;
    display: inline-block;
}
.linha4_coluna4{
    padding: 10px;
    background: linear-gradient(black, red, black);
    width: 190px;
    height: 200px;
    margin: auto;
    display: inline-block;
}
.linha4_coluna5{
    padding: 10px;
    background: linear-gradient(black, red, black);
    width: 190px;
    height: 200px;
    margin: auto;
    display: inline-block;
}
.linha4_coluna6{
    padding: 10px;
    background: linear-gradient(black, red, black);
    width: 190px;
    height: 200px;
    margin: auto;
    display: inline-block;
}
.linha4_coluna7{
    padding: 10px;
    background: linear-gradient(black, red, black);
    width: 190px;
    height: 200px;
    margin: auto;
    display: inline-block;
}
.linha5_coluna1{
    padding: 10px;
    background: linear-gradient(black, red, black);
    width: 190px;
    height: 200px;
    margin: auto;
    display: inline-block;
}
.linha5_coluna2{
    padding: 10px;
    background: linear-gradient(black, red, black);
    width: 190px;
    height: 200px;
    margin: auto;
    display: inline-block;
}
.linha5_coluna3{
    padding: 10px;
    background: linear-gradient(black, red, black);
    width: 190px;
    height: 200px;
    margin: auto;
    display: inline-block;
}
.linha5_coluna4{
    padding: 10px;
    background: linear-gradient(black, red, black);
    width: 190px;
    height: 200px;
    margin: auto;
    display: inline-block;
}
.linha5_coluna5{
    padding: 10px;
    background: linear-gradient(black, red, black);
    width: 190px;
    height: 200px;
    margin: auto;
    display: inline-block;
}
.linha5_coluna6{
    padding: 10px;
    background: linear-gradient(black, red, black);
    width: 190px;
    height: 200px;
    margin: auto;
    display: inline-block;
}
.linha5_coluna7{
    padding: 10px;
    background: linear-gradient(black, red, black);
    width: 190px;
    height: 200px;
    margin: auto;
    display: inline-block;
}
.linha6_coluna1{
    align-items: center;
    padding: 10px;
    background: linear-gradient(black,red, black);
    width: 190px;
    height: 200px;
    margin: auto;
    display: inline-block;
}
.linha6_coluna2{
    padding: 10px;
    background: linear-gradient(black, red, black);
    width: 190px;
    height: 200px;
    margin: auto;
    display: inline-block;
}
.linha6_coluna3{
    padding: 10px;
    background: linear-gradient(black, red, black);
    width: 190px;
    height: 200px;
    margin: auto;
    display: inline-block;
}
.linha6_coluna4{
    padding: 10px;
    background: linear-gradient(black, red, black);
    width: 190px;
    height: 200px;
    margin: auto;
    display: inline-block;
}
.linha6_coluna5{
    padding: 10px;
    background: linear-gradient(black, red, black);
    width: 190px;
    height: 200px;
    margin: auto;
    display: inline-block;
}
.linha6_coluna6{
    padding: 10px;
    background: linear-gradient(black, red, black);
    width: 190px;
    height: 200px;
    margin: auto;
    display: inline-block;
}
.linha6_coluna7{
    padding: 10px;
    background: linear-gradient(black, red, black);
    width: 190px;
    height: 200px;
    margin: auto;
    display: inline-block;
}
.picolo{
    height: 170px;
    width: 130px;
    margin: auto;
    display: block;
}
.nomepers{
    color:white;
    text-align: center;     
}
